<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/tx
 	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="jdbc" class="com.sooncode.soonjdbc.Jdbc">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="showSqlLevel" value="info" />
	</bean>

	<bean id="jdbcDao" class="com.sooncode.soonjdbc.dao.JdbcDao">
		<property name="jdbc" ref="jdbc" />
	</bean>

	<bean id="jdbcService" class="com.sooncode.soonjdbc.service.JdbcService">
		<property name="jdbcDao" ref="jdbcDao" />
	</bean>

	<!--   <bean id="sqlXmlManager" class="com.sooncode.soonjdbc.sql.xml.SqlXmlManager">
		<property name="xmlFileLocation" value="classpath:sql" />
	</bean>  --> 
	
	
  <!-- <bean id="javaBeanBuilder" class="com.sooncode.soonjdbctool.JavaBeanBuilder"> 
		<property name="jdbcTemplate" ref="jdbcTemplate" /> 
		<property name="codePath" value="D:\workspaces\creative-build-api-doc-service\creative-build-api-doc-service\src\main\java\com\sooncode\creative_build_api_doc_service\entity"/> 
		<property name="packageName" value="com.sooncode.creative_build_api_doc_service.entity"/> 
</bean>  -->    
    


</beans>